* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}

/* using pseudo element for the background image  */

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: url("bg.jpeg");
  background-position: center;
}

/* this is for logo that is upper surface from that background image */

nav {
  position: fixed;
  z-index: 1;
  padding: 25px 60px;
}
nav a img {
  width: 130px;
}

/* this is for center the form container */

.formcon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 430px;
  padding: 60px;
  border-radius: 4px;
  background: rgb(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}
.formcon h2 {
  color: #fff;
  font-size: 2rem;
}
.formcon form {
  margin: 25px 0 65px;
}

/* this is the child element of form  */

.ft {
  position: relative;
  height: 50px;
  margin-bottom: 16px;
}
.ft input {
  height: 100%;
  width: 100%;
  background: #333;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0 20px;
}

/* using this for a little animation by clicking on the input box */

.ft input:is(:focus, :valid) {
  padding: 16px 20px 0;
  background: #444;
}
.ft label {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #8c8c8c;
  pointer-events: none;
  font-size: 1rem;
  transform: translateY(-50%);
  transition: all 0.1s ease;
}

/* using this for a little animation by clicking on the input box  */

.ft input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

/* this is the 'sign in' button styling */

form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  background: #e50914;
  margin: 25px 0 10px;
  transition: 0.1s ease;
}
form button:hover {
  background: #c40912;
}

/* 'remember me' and 'need help' text are under the input boxes */

form .ftn {
  display: flex;
  justify-content: space-between;
}
form .remember {
  display: flex;
}
form .remember input {
  margin-right: 5px;
  accent-color: #333;
}
form .ftn :where(label, a) {
  font-size: 0.9rem;
}
.formcon :where(label, p, small, a) {
  color: #b3b3b3;
}
.formcon p a {
  color: #fff;
}
.formcon small {
  display: block;
  margin-top: 15px;
}
.formcon small a {
  color: #0071eb;
}
.formcon a {
  text-decoration: none;
}
.formcon a:hover {
  text-decoration: underline;
}

/* this is responsive option for small screens */

@media (max-width: 740px) {
  body::before {
    display: none;
  }
  nav,
  .formcon {
    padding: 20px;
  }
  nav a img {
    width: 100px;
  }
  .formcon {
    top: 43%;
    width: 100%;
  }
  .formcon form {
    margin: 25px 0 40px;
  }
}
